<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1 Live Updates</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">words 2.0</ion-label>
    <ion-input autocapitalize="on"></ion-input>
  </ion-item>

  <app-explore-container name="Live Update Page 2.0"></app-explore-container>
  <ion-button (click)="display()">Display</ion-button>
</ion-content>
